/* register.css */

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.register-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
}


.form-field {
  margin: 10px 0 10px 0;
  padding: 15px;
  font-size: 16px;
  border: 0;
  font-family: "Roboto", sans-serif;
}

/* Log.css */

.form-container {
  background-color: white;
  padding: 3px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  height: 360px;
  margin: auto;
}

.form-field {
  width: 100%;
  margin-bottom: 10px;
}

.success-message {
  color: green;
  margin-top: 10px;
}
