*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar-container {
    display: flex;
    justify-content: space-between;
    background-color: #000B2E ;
    padding: 20px;
  }
  
  .navbar-buttons {
    display: flex;
    align-items: center;
}
  
  .navbar-buttons button {
    margin-left: 10px;
  }
  .explore-vista {
    color: #BCE8F3;
    text-decoration: none; /* Remove underline */
  }
  button{
    background-color: #BCE8F3;
    height: 40px;
    width: 75px;
    border-radius: 20px;
  }
  .dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 5px;
    max-height: 200px; /* Optional: Set a maximum height for the dropdown */
    overflow-y: auto; /* Enable vertical scrolling */
  }
  
  .user-names-list {
    list-style-type: none;
    padding: 0;
  }
  
  .user-names-list li {
    padding: 5px 0;
    cursor: pointer;
  }
  
